@font-face {
  font-family: 'icomoon';
  src:
    url('fonts/icomoon.ttf?hpq3eg') format('truetype'),
    url('fonts/icomoon.woff?hpq3eg') format('woff'),
    url('fonts/icomoon.svg?hpq3eg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-social-ok:before {
  content: "\e948";
}
.icon-cart-icon:before {
  content: "\e928";
}
.icon-social-viber:before {
  content: "\e907";
}
.icon-social-vk:before {
  content: "\e947";
}
.icon-compare-icon:before {
  content: "\e91c";
}
.icon-compare-add:before {
  content: "\e946";
}
.icon-compare-remove:before {
  content: "\e921";
}
.icon-compare-diff-show:before {
  content: "\e945";
}
.icon-compare-diff-hide:before {
  content: "\e922";
}
.icon-menu-mobile:before {
  content: "\e919";
}
.icon-menu-more:before {
  content: "\e944";
}
.icon-article-update:before {
  content: "\e916";
}
.icon-article-comments:before {
  content: "\e92c";
}
.icon-article-author:before {
  content: "\e93f";
  color: #9e9e9e;
}
.icon-editor-toggle-open:before {
  content: "\e90d";
}
.icon-editor-toggle-close:before {
  content: "\e915";
}
.icon-product-available:before {
  content: "\e93d";
}
.icon-product-unavailable:before {
  content: "\e93e";
}
.icon-product-share:before {
  content: "\e940";
}
.icon-product-preorder:before {
  content: "\e941";
}
.icon-product-quick:before {
  content: "\e942";
}
.icon-product-buy:before {
  content: "\e943";
}
.icon-product-link:before {
  content: "\e93c";
}
.icon-slider-prev:before {
  content: "\e917";
}
.icon-slider-next:before {
  content: "\e93b";
}
.icon-paggination-left:before {
  content: "\e900";
}
.icon-paggination-right:before {
  content: "\e910";
}
.icon-notice-succes:before {
  content: "\e93a";
}
.icon-notice-error:before {
  content: "\e904";
}
.icon-notice-send:before {
  content: "\e901";
}
.icon-account-email:before {
  content: "\e936";
}
.icon-iconmonstr-filter-1:before {
  content: "\e937";
}
.icon-filter-clear:before {
  content: "\e934";
}
.icon-filter-submit:before {
  content: "\e935";
}
.icon-filter-section-clear:before {
  content: "\e933";
}
.icon-rating-clear:before {
  content: "\e92e";
}
.icon-rating-checked:before {
  content: "\e929";
}
.icon-rating-empty:before {
  content: "\e92d";
}
.icon-radio-checked:before {
  content: "\e903";
}
.icon-radio-empty:before {
  content: "\e908";
}
.icon-breadcrumb-home:before {
  content: "\e902";
}
.icon-checkbox-empty:before {
  content: "\e905";
  color: #eee;
}
.icon-checkbox-checked:before {
  content: "\e906";
}
.icon-counter-minus:before {
  content: "\e909";
}
.icon-collapse-open:before {
  content: "\e92f";
}
.icon-drop-open:before {
  content: "\e930";
}
.icon-counter-plus:before {
  content: "\e90a";
}
.icon-iconmonstr-plus-thin:before {
  content: "\e931";
}
.icon-iconmonstr-plus-thin1:before {
  content: "\e932";
}
.icon-breadcrumb-more:before {
  content: "\e90b";
}
.icon-collection-folder:before {
  content: "\e90c";
}
.icon-filter-section-open:before {
  content: "\e90e";
}
.icon-select-close:before {
  content: "\e90f";
}
.icon-breadcrumb-separator:before {
  content: "\e911";
}
.icon-filter-section-close:before {
  content: "\e913";
}
.icon-select-open:before {
  content: "\e914";
}
.icon-notice-info:before {
  content: "\e918";
}
.icon-common-date:before {
  content: "\e91a";
}
.icon-catalog:before {
  content: "\e91b";
}
.icon-filter-section-submit:before {
  content: "\e91d";
}
.icon-comments:before {
  content: "\e91e";
}
.icon-ellipsis:before {
  content: "\e91f";
}
.icon-notice-warning:before {
  content: "\e920";
}
.icon-moda-toggler-backcall:before {
  content: "\e923";
}
.icon-notice-compare:before {
  content: "\e924";
}
.icon-search-button:before {
  content: "\e925";
}
.icon-search-clear:before {
  content: "\e912";
}
.icon-share:before {
  content: "\e926";
}
.icon-notice-cart:before {
  content: "\e927";
}
.icon-cart-trash:before {
  content: "\e92a";
}
.icon-notice-trash:before {
  content: "\e939";
}
.icon-common-user:before {
  content: "\e92b";
}
.icon-social-google:before {
  content: "\ea88";
}
.icon-social-facebook:before {
  content: "\ea90";
}
.icon-social-instagram:before {
  content: "\ea92";
}
.icon-social-whatsapp:before {
  content: "\ea93";
}
.icon-social-telegram:before {
  content: "\ea95";
}
.icon-social-twitter:before {
  content: "\ea96";
}
.icon-social-youtube:before {
  content: "\ea9d";
}
